<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Contact Us</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">

      </div>
    </nav>
    <div class="container">
      <h2>Contact Us</h2>
      <h4>Address:</h4>
        123 1st Street San Fran, CA
        <br>
        +1 (999) 123-4567
      </p>
    </div>

  </body>

</html>